html {
  width: 500px;
  user-select: none;
}

body, html {
  height: 0 !important;
  min-height: 0 !important;
}

body {
  text-align: center;
  background: #FAFAFA;
  font-family: Lato, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border-color: #03a9f4;
}

#forecast {
  overflow: auto;
}

#forecast::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

.tt-hint {
  color: #999;
}

.btn-light-blue {
  background-color: transparent;
  border-color: #03a9f4;
  color: #03a9f4;
  transition: 0.2s;
}

.btn-light-blue:hover {
  background-color: #81d4fa;
  border-color: #81d4fa;
}

.btn-light-blue:focus {
  background-color: #4FC3F7;
  border-color: #4fc3f7;
}

.btn-light-blue[disabled] {
  background-color: transparent;
  border-color: #81D4FA;
  color: #81D4FA;
}

.btn-light-blue[disabled]:hover {
  background-color: transparent;
  border-color: #81D4FA;
  color: #81D4FA;
}

.btn-settings {
  border-width: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 17px;
}

.btn-arrow {
  border-width: 0;
  padding: 3.1rem 0.6rem;
  margin-bottom: 0;
}

.btn-arrow:hover {
  background-color: #E1F5FE;
}

#home .row .padding-0 {
  padding: 0;
}

.main-weather-icon {
  text-align: right;
}

.main-weather-temp {
  font-size: 42px;
  text-align: left;
  margin-bottom: 0.1rem;
  margin-left: 1.0rem;
}

.degree-symbol {
  font-size: 20px;
  padding: 0 0.3rem !important;
  margin-top: 1.3rem;
  text-align: left;
}

.temp {
  padding: 0 0.3rem !important;
  margin-top: 0.6rem;
  text-align: left;
}

.temp-small {
  font-size: 12px;
  margin-bottom: 0.3rem;
}

.info-pane {
  transition: 0.2s;
  border-radius: 8px;
  padding: 3.0rem 1.0rem;
}

.info-pane:hover {
  background-color: #E1F5FE;
}

.options {
  margin-top: 1.5rem;
}

#settings {
  text-align: left;
}

#settings h6, #settings label, #settings input[type='checkbox'] {
  margin-top: 1rem;
}

@media (min-width: 0rem) {
  .row {
    flex-direction: row;
    margin-left: -1.0rem;
    width: calc(100% + 2.0rem);
  }
  .row .column {
    margin-bottom: inherit;
    padding: 0 1.0rem;
  }
}

@keyframes color-fade {
    from {background-color: #4FC3F7;}
    to {background-color: transparent;}
}
