<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/typeahead.css">
  <link rel="stylesheet" type="text/css" href="node_modules/milligram/dist/milligram.min.css">
  <link rel="stylesheet" type="text/css" href="node_modules/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/weather-icon.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script type="text/javascript" src="vendor/vue-csp.js"></script>
  <script type="text/javascript" src="vendor/lodash.js"></script>
  <script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="node_modules/chart.js/dist/Chart.min.js"></script>
  <script type="text/javascript" src="vendor/typeahead.jquery.js"></script>
  <script type="text/javascript" src="node_modules/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="app" class="container" v-cloak>
    <div v-show="currPage === 1" id="home">
      <div class="row">
        <div v-bind:class="{ column: true, 'column-90': !searchText.valid, 'column-60': searchText.valid }">
          <input v-model="searchText.value" id="searchBar" class="search-bar" type="text" placeholder="搜尋地點">
        </div>
        <div v-if="searchText.valid" class="column column-30">
          <button v-on:click="searchWeather()" class="btn-light-blue">前往</button>
        </div>
        <div class="column column-10">
          <button v-on:click="toPage(3)" class="btn-light-blue btn-settings"><i class="fa fa-cog" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="row">
        <div v-on:click="showChart('now')" class="column today info-pane">
          <h3>{{ weatherData.location }}</h3>
          <h4>NOW</h4>
          <div class="row">
            <div class="column main-weather-icon">
              <weather-icon v-bind:type="weatherData.realtime.icon.id" size="80px" style="transform: translate(65%, -15%)"></weather-icon>
            </div>
            <div class="column">
              <div class="row">
                <div class="column temp">
                  <p class="main-weather-temp">{{ weatherData.realtime.temp }}<sup class="degree-symbol">&#8451;</sup></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="column column-10 padding-0">
          <label v-on:click="scroll('l')" class="btn-light-blue btn-arrow" type="button"><</label>
        </div>
        <div class="column column-80">
          <div id="forecast" class="row">
            <div v-for="item in weatherData.forecast" id="{{ item.key }}" class="column column-25 info-pane">
              <h5>{{ item.day }}</h5>
              <weather-icon v-bind:type="item.icon.id" size="40px" style="transform: translate(15%, -10%);"></weather-icon>
              <p class="temp-small">
                  <span style="color: rgb(185, 44, 37)">{{ item.tempHigh }}&#8451;&nbsp;</span>/
                  <span style="color: rgb(91, 141, 212)">{{ item.tempLow }}&#8451;</span>
              </p>
            </div>
          </div>
        </div>
        <div class="column column-10 padding-0">
          <label v-on:click="scroll('r')" class="btn-light-blue btn-arrow" type="button">></label>
        </div>
      </div>
    </div>
    <div v-if="currPage === 2" id="chart">
      <weather-chart v-bind:chart="showChartData"></weather-chart>
    </div>
    <div v-if="currPage === 3" id="settings">
      <settings></settings>
    </div>
    <div class="row options">
      <div class="column">
        <button v-if="currPage > 1" v-on:click="toPage(1)" class="btn-light-blue">返回</button>
      </div>
    </div>
    <script type="text/javascript" src="components/settings.js"></script>
    <script type="text/javascript" src="components/weather-chart.js"></script>
    <script type="text/javascript" src="components/weather-icon.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </div>
</body>
